//Definicion de colores
$primary-color: #002879;
$second-color: #FFD200;
$third-color:#e72f35;
$four-color:#f07b05;

$error-color:red;
$info-color:yellow;
$success-color:blue;

$header-color:white;
/**
* Variables footer
**/
$footer_background-color: #002879;
$footer_subBackground-color: #FFF;
$footer_text-color: #FFF;
$footer_logoSeguros: '../../../assets/images/alfa.png';
/**Fin Variables footer**/

//Tamaño del header 
$height-header:70px;
//Imagenes organizacion
//$logo:url("https://s3.amazonaws.com/comparamejor-wp/uploads/2017/08/Banco-de-Bogota%CC%81.png");
//Tamaños media query
$breakPointMobile:425px;
$breakPointTablet:768px;
$breakPointLaptop:960px;
//borde redondeado tamaño
$boderbutton: 50px;
$boderInput: 20px;
$borderGeneral:10px;
