/*Angular material*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables';
@import './mixins';


@import url('https://fonts.googleapis.com/css?family=Open%20Sans');

body, html{
    font-family: 'Open Sans';
    background: url('../assets/images/lienzo-back.png') #EEE8E3;
}
/*Titulos*/
h1,h2,h3,h4,h5,h6{
    color: $primary-color;
}
/*Botones*/
.btn{
    position: relative;
    border-style: none;
    border-radius: $boderbutton;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    &-success{
        @extend .btn;
        background-color: $third-color;
        color: white;
    }
    &-cancel{
        @extend .btn;
        background-color: $second-color;
        color: white;
    }
    &-send{
        @extend .btn;
        background-color: $primary-color;
        color: white;
        &.arrow:after,&.arrow:before{
            color: $second-color;
        }
    }
    &-info{
        @extend .btn;
        background-color: $four-color;
        color: white;
    }
    &-closed{
        @extend .btn;
        background-color: $primary-color;
        color: white;
    }
    &[disabled]{
        opacity: 0.7;
    }
    /*Arrow right*/
    &.arrow:before, &.arrow:after {
        border-right: 2px solid;
        content: '';
        display: block;
        height: 8px;
        margin-top: -6px;
        position: absolute;
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        right: 10px;
        top: 46%;
        width: 0;
    }
    &.arrow:after {
        margin-top: -1px;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.margin-content{
    margin-top: $height-header;
}
//Estilo de formularios
form{
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    width: 100%;
    .mat-input-container{
        width: 100%;
    }
    .mat-input-infix{
        border-radius: $boderInput;
        background-color: #FFF;
        padding: 6px 12px;
        // border-top:0; 
        &:focus{
            border-color: $primary-color;
        }
        span label{
            color: $primary-color;
            padding-left: 10px;
            white-space: normal;
            top: auto;
        }
        input:focus+ .mat-form-field-label-wrapper, textarea:focus+ .mat-form-field-label-wrapper{
            border-color: $primary-color; 
        }
        input, textarea{
            color: $primary-color;
        }
    }
    
    .mat-form-field-label-wrapper{
        border:1px solid transparent;
        border-radius: $boderInput;
    }
    .mat-input-underline{
        display: none;
    }
}
//Estilos datepicker
.mydp .selector{
    border:0 !important;
    background-color: white;
    // @media screen and(max-width:1024px) and (min-width:769px) {
    //     bottom: -25px !important;
    // }
    // @media screen and(max-width:$breakPointMobile) {
    //     bottom: -25px !important;
    // }
    .caltable {
        transform: scale(0.9,0.9);
    }
    .daycell{
        color: black;
    }
    .disabled{
        color: #CCC;
    }
    .tablesingleday:hover,.tablesinglemonth:hover,.tablesingleyear:hover{
        background-color: $second-color;
        border-radius: 50px;
        .markcurrday,.markcurrmonth,.markcurryear{
            color: $primary-color;
        }
    }
    .markcurrday,.markcurrmonth,.markcurryear{
        text-decoration:none;
        font-weight: bold;
        color: $primary-color;
    }
    .selectedday .datevalue,.selectedmonth .monthvalue, .selectedyear .yearvalue{
        background-color: transparent;
        color: $second-color;
    }
    table,.headerbtncell,button{
        background-color: transparent;
    }
    .weekdaytitle{
        background-color: white;
    }
    .currmonth{
        background-color: white;
    }
    .highlight{
        color: inherit;
    }
    .mydpicon{
        opacity: 0;
    }
    .yeartable .mydpicon{
        opacity: 1;
        color: $primary-color;
    }
    .header tr td:first-child 
    {
        .headermonthtxt{
            overflow: visible;
            width: 100px;
            margin-left: 10px;
            button{
                position: relative;
                color: $primary-color;
            }
            .headerlabelbtn::after
            {
                content: '';
                width: 5px;
                height: 5px;
                border-bottom: 2px solid;
                border-right: 2px solid;
                transform: rotate(45deg);
                display: block;
                position: absolute;
                top:6px;
                right: -10px;
                color: $second-color;
            }
        }
        .headerbtncell 
        {
            .mydpicon{
                opacity: 1;
            }
            &:first-child{
                box-sizing: border-box;
                padding-right: 10px;
            }
            &:last-child .mydpicon{
                position: absolute;
                top: 4px;
                right: 0px;
            }
            &:last-child :before{
                content: '';
                border-right: 2px solid;
                border-top: 2px solid;
                transform: rotate(45deg);
                display: block;
                height: 5px;
                width: 5px;
                color: $primary-color;
                z-index: 1;
            }
            &:first-child :before{
                content: '';
                border-right: 2px solid;
                border-top: 2px solid;
                transform: rotate(230deg);
                display: block;
                height: 5px;
                width: 5px;
                margin-left: 10px;
                margin: 8px 12px;
                color: $primary-color;
                z-index: 1;
            }
        }
    }
    .header tr td:last-child {
        .headeryeartxt{
            width: 100px;
            overflow: visible;
            button{
                color: $primary-color;
                position: relative;
            }
            .headerlabelbtn::after
            {
                content: '';
                width: 5px;
                height: 5px;
                border-bottom: 2px solid;
                border-right: 2px solid;
                transform: rotate(45deg);
                display: block;
                position: absolute;
                top:6px;
                right: -10px;
                color: $second-color;
            }
        }
        .headerbtncell{
            width: 25px;
            button{
                display: none
            }
        }
    }
}
//Estilos stepper angular
.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: transparent;
    text-align: center;
    .mat-horizontal-stepper-header[role='tab'][ng-reflect-selected="true"] .mat-step-icon{
        background-color: $second-color;
    }
    .mat-horizontal-stepper-header[role='tab'][ng-reflect-selected="false"] .mat-step-icon-not-touched{
        background-color: $primary-color;
    }
    .mat-horizontal-stepper-header[role='tab'][ng-reflect-icon="edit"] .mat-step-icon{
        background-color: $primary-color;
    }
    @media screen and (max-width: $breakPointTablet) {
        position: relative;
        .mat-horizontal-stepper-header[role='tab'][ng-reflect-selected="false"]{
           display: none;
        }
    }
}