<form>
  <div class="content-questions">
    <div *ngFor="let question of questions" [ngSwitch]="question.controlType">
      <mat-form-field *ngSwitchCase="'input'">
        <input matInput placeholder="{{question.label}}" [required]="question.required">
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'opentext'">
        <textarea matInput placeholder="{{question.label}}" [required]="question.required"></textarea>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'dropdown'">
        <mat-select placeholder="{{question.label}}" [required]="question.required">
          <mat-option *ngFor="let opt of question.options" [value]="opt.key">
            {{opt.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <my-date-picker *ngSwitchCase="'date'" [options]="myDatePickerOptions" placeholder="{{question.label}}" requerid></my-date-picker>
    </div>
  </div>
  <!-- <button class="btn-send">Enviar</button> -->
</form>