@import "~sass/variables";

.content-questions{
    display: flex;
    flex-flow: row wrap;
    div{
        width: 45%;
        margin: 10px 2%;
    }
    @media screen and (max-width:$breakPointTablet) {
        flex-direction: row;
        div{
            width: 100%;
            margin: 10px;
        }
    }
}