<header class="header">
    <div>
        <button fxHide.gt-xs="true" [matMenuTriggerFor]="menu" id="btnMenuXs" class="btn" (menuClosed)="menuClosed()" (menuOpened)="menuClosed()">
            <mat-icon *ngIf="menu_closed">menu</mat-icon>
            <mat-icon *ngIf="!menu_closed">close</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="header-menu" >
            <button mat-menu-item id="header-btn-name">
                Eduardo González
            </button>
            <button mat-menu-item id="header-btn-home">
                <span>{{ 'General_vocabulary.home' | translate }}</span>
                <mat-icon>home</mat-icon>
            </button>
            <button mat-menu-item id="header-btn-profile">
                <span>{{ 'General_vocabulary.profiles' | translate }}</span>
                <mat-icon>person_outline</mat-icon>
            </button>
            <button mat-menu-item id="header-btn-profile">
                <span>{{ 'Claims_concact_section.Frequent_questions' | translate }}</span>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-menu-item id="header-btn-exit">
                <span class="color-blue">{{ 'General_vocabulary.logout' | translate }}</span>
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-menu>
    </div>
    <div class="img-header">
        <img src="https://s3.amazonaws.com/comparamejor-wp/uploads/2017/08/Banco-de-Bogota%CC%81.png" class="logo-header">
    </div>
    <div>
        <button fxHide.xs="true" [matMenuTriggerFor]="menu" id="btnMenu" class="btn header-name">
            <span>Eduardo González</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
</header>