@import '~sass/variables';

.header{
    background-color: $header-color;
    position: fixed;
    top:0;
    height: $height-header;
    box-sizing: border-box;
    z-index: 101;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid $second-color;
    padding: 10px;
    .img-header{
        text-align: center;
        @media screen and (min-width:$breakPointTablet) {
            position:absolute;
            left: 0;
            top:10px;
        }
    }
    img{
        max-width: 60%;
        max-height: $height-header;
        align-items: center;
        display: flex;
        padding-left: 20px;
    }
    mat-icon,div:last-child span{
        color: $primary-color;
        button{
            display: flex;
            text-align: center;
        }
    }
    div:last-child button{
        display: flex;
        text-align: center;
        span{
            margin-top: 3px;
        }
    }
}
::ng-deep .mat-menu-panel.header-menu{
    button{
        position: relative;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
        border-top:1px solid rgb(238, 237, 237);
        &:first-child{
            border-color: transparent;
            color: rgb(133, 130, 130);
        }
    }
    mat-icon{
        float:right; 
        margin: 10px;
        color: $second-color !important;
    }
    @media screen and (max-width:$breakPointMobile) {
        position: fixed;
        top:$height-header;
        width: 100%;
        max-width: inherit;
        left: 0;
    }
}

