<div class="roles-container">
  <mat-grid-list [cols]="(columnsNum-1) == 0 ? 1 : columnsNum-1" rowHeigth="4:3" class="roles-select">
    <mat-grid-tile>
      <div class="bannerRole roleHolder" *ngIf="!selectBeneficiary" id="roles-banner-btn-holder" (click)="selectRole(1)" [ngClass]="selectHolder ? 'selected':''">
        <h1>{{'Claims_roles.I_am_the_holder' | translate}}</h1>
        <div class="glass"></div>
        <!-- <img src="http://www.paisajesimagenes.com/wp-content/uploads/Fotos-de-paisajes-naturales..jpg" alt="titular"> -->
      </div>
      <div *ngIf="selectBeneficiary">
        <form>
          <mat-form-field>
            <mat-select placeholder="{{'General_vocabulary.Identification_document'|translate}}" requerid>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'General_vocabulary.Document_number'|translate}}" required>
          </mat-form-field>
          <my-date-picker [options]="myDatePickerOptions" name="mydate" placeholder="{{'Claims_titular.What_was_the_date_of_the_incident'|translate}}" requerid></my-date-picker>
          <button id="roles-form-btn-send-beneficiary" class="btn-send arrow" [autofocus]="selectBeneficiary" (click)="sendBeneficiary()">Enviar</button>
        </form>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="bannerRole roleBeneficiary" *ngIf="!selectHolder" id="roles-banner-btn-beneficiary" (click)="selectRole(2)" [ngClass]="selectBeneficiary ? 'selected':''">
        <h1>{{'Claims_roles.I_am_the_beneficiary' | translate}}</h1>
        <div class="glass"></div>
        <!-- <img src="https://s-media-cache-ak0.pinimg.com/originals/34/f9/a2/34f9a215693a50656ac7828d804bb8d0.jpg" alt="beneficiario"> -->
      </div>
      <div *ngIf="selectHolder">
        <form>
          <my-date-picker [options]="myDatePickerOptions" name="mydate" placeholder="{{'Claims_titular.What_was_the_date_of_the_incident'|translate}}"></my-date-picker>
          <button id="roles-form-btn-send-holder" class="btn-send arrow" [autofocus]="selectHolder" (click)="sendHolder()">Enviar</button>
        </form>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>