@import "~sass/variables";

.roles-select{
    mat-grid-tile{
        overflow: visible;
        div.bannerRole{
            position: absolute;
            top:0;
            width: 100%;
            left: 0;
            height: 100%;
            &.selected{
                border-top:6px solid black;
                box-sizing: border-box;
            }
            &.roleHolder{
                background-image: url(http://www.paisajesimagenes.com/wp-content/uploads/Fotos-de-paisajes-naturales..jpg);
                background-position: center;
                background-size: cover;
            }
            &.roleBeneficiary{
                background-image: url(https://s-media-cache-ak0.pinimg.com/originals/34/f9/a2/34f9a215693a50656ac7828d804bb8d0.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        &:first-child div .glass{
            background-color: rgb(108, 131, 233);
        }
        &:last-child div .glass{
            background-color: rgb(240, 181, 104);
        }
        &:hover{
            div .glass{
                opacity: 0.6;
                cursor: pointer;
            }
        }
        div .glass{
            position: absolute;
            width: 100%;
            height: 100%;  
            top:0;
            opacity: 0;
        }
        div:first-child{
            h1{
                position: absolute;  
                top:0;
                left: 15px;
                color: white;
                font-size: 200%;
            }
            img{
                max-height: 100%;
            }
        }
        div:last-child form{
            padding: 30px;
        }
    };
    &>div{
        position: relative;
    }
}
.roles-container{
    position: relative;
}