@import '~sass/variables';

.content-consult{
    background: #FFFFFF;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.item-consult-left{
    color: #022576;
    width: 15%;
    float: left;
    margin: 0px;
    /*height: 100px;*/
    text-align: center;
}
.item-consult-right{

    width: 85%;
    margin-left: 15%;
    /*height: 100px;*/
}
.icon-consult{
    /*font-size: 50px;
    padding: 20px;*/
    font-size: 34px;
    padding: 134px 0px 30px 0px;    
}
.first-content{
    width: 100%;
}
.first-content p{
    float: left;
    width: 45%;
    margin-left: 5%;
}

.first-content-p{
    color: red;
    font-size: 14px;
    font-weight: 900;
}

.second-content-p{
    text-align: right;
    color: #7DBD7B;
    font-size: 14px;
    font-weight: 900;
}

.icon-consult-first{
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width:$breakPointMobile) {
    .content-consult{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (min-width:$breakPointTablet) {
    .content-consult{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .icon-consult{
        font-size: 34px;
        padding: 80px 0px 30px 0px;    
    }
    
}

