@import "~sass/variables";

.content-header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    .item{
        &-info{
            flex:1 50%;
            color:$primary-color;
        }
        &-back{
            flex:1 15%;
            min-width: 70px;
            color:$second-color;
            position: relative;
            cursor: pointer;
            box-sizing: border-box;
            padding-left: 5px;
            span{
                font-size:24px;
                font-weight: bold;
                padding-left: 30px;
            }
            mat-icon{
                font-size: 80px;
                position: absolute;
                bottom:27px;
                left: -30px;
            }
        }
        &-title{
            flex:1 35%;
            text-align: center;
        }
    }  
}

#content-coverages {
    padding: 10px;
    mat-grid-list{
        background-color: #FFF;
    }
    mat-grid-tile {
        background: #FFF;
        ::ng-deep .mat-figure{
            position: relative;
            cursor: pointer;
            border:2px solid;
            //border-radius: $borderGeneral;
            border-color: #EEE8E3;
            border-collapse: collapse;
            border-width: 3px;
            box-sizing: border-box;
        }
        ::ng-deep .mat-figure:hover .underLine{
            display: block;
        }
        .underLine{
            display: none;
        }
        &.selected .underLine{
            display: block;
        }
        
        @media screen and (min-width:800px) {
            padding-bottom: 30px;
            overflow: visible;
            box-sizing: border-box;
            &.selected:after{
                content: '';
                border:solid transparent;
                border-width: 30px;
                border-bottom-color:#EEE8E3;
                position: absolute;
                bottom: 0px;
                left: 40%;
            }
        }
    }
}
.underLine{
    background-color: $third-color;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

#coverageSelected{
    position: relative;
    background:transparent;
    box-sizing: border-box;
    padding: 10px;
    .underLine{
        bottom: 8px;
    }
}

/**
* Arrow coverage selected
**/
.arrow_box {
    position: relative;
    @media screen and (max-width:$breakPointTablet) {
        &::before,&::after{
            border:1px none !important;
        }      
    }
    .mat-content-form{
        overflow: visible;
        ::ng-deep mat-horizontal-stepper{
            .mat-horizontal-content-container,.mat-horizontal-stepper-content{
                overflow: visible;
            }
        }
    }
    ::ng-deep .mat-figure>div{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
}
/**
* Arrow Back
**/
.arrow_back {
	position: relative;
}
.arrow_back:after, .arrow_back:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_back:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #EEE8E3;
	border-width: 13px;
    margin-top: -13px;
    @media all and (max-width: 500px) {
        border-width: 10px;
        margin-top: -10px;
    }
}
.arrow_back:before {
	border-color: rgba(255, 210, 0, 0);
	border-right-color: #FFD200;
	border-width: 23px;
    margin-top: -23px;
    @media all and (max-width: 500px) {
        border-width: 18px;
        margin-top: -18px;
    }
}