@import '~sass/variables';

h2{
    color: #0B2366;
    text-align: center;
    margin: 0px;
    padding: 30px 0px 30px 0px;
    font-size: 16px;
}
@media screen and (min-width:$breakPointMobile) {
    h2{
        font-size: 20px;
    }
}
@media screen and (min-width:$breakPointTablet) {
    h2{
        font-size: 26px;
    }
}