<app-loader *ngIf="loader"></app-loader>
<app-header *ngIf="header"></app-header>
<div class="margin-content">
    <app-sub-header *ngIf="subHeader" [tit_header]="tit_header" ></app-sub-header>
    <router-outlet (activate)='onSection($event)'></router-outlet>
</div>
<app-footer *ngIf="footer"></app-footer>