@import '~sass/variables';

.content-footer{
    background-color: $footer_background-color !important;
    color: $footer_text-color !important;
    border-top: 5px solid #FFF;
    .mat-list-item{
        color: $footer_text-color !important;
        padding: 0 !important;
    }
    .mat-list .mat-list-item .mat-list-text{
        padding: 0 0 !important;
    }
    .title{
        color: $footer_text-color !important;
        font-size: 2vh;
        text-align: left;
        position: relative;
    }
    .subTitle{
        color: $footer_text-color !important;
        font-size: 1em;    
    }
    .phones, .emails{
        width: 100%;
        ::ng-deep .mat-figure{
            font-size: 14px !important;
        }
    }

    .data-scroll{
        width: 100%;
        height:100%;
        overflow: auto;
    }
    /* SCROLL   */
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.932);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.932); 
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgb(0, 44, 117);
    }


    .subFooter{
        background-color: $footer_subBackground-color !important;
        color: grey;
        ::ng-deep .mat-figure{
            justify-content: left;
        }
        p{
            margin-left: 6%;
        }
    }

    /*Icons*/
    .mat-list-icon{
        width: 42px;
        height: 42px;
        font-size: 40px;
    }

    .flecha {
        font-size: 16px;
    }

    .logoSeguros{
        background: url($footer_logoSeguros) no-repeat center;
        width: 230px;
        height: 50px;
        display: inline-block;
        margin-left: 20px;
        //Mobile
        @media screen and (max-width: $breakPointMobile){
            margin-left: -15%;            
        }        
    }
}

