<div class="content-footer">
  <mat-grid-list [cols]="columnsNum" [rowHeight]="rowHeightGrid">
    <!-->columnsNum: numero de columnas en las cuales distribuyen los mat-grid-tile debe estar en el.ts y debe estar igualada
    en el contructor con el valor window.onresize = (e) => { this.columnsNum = Util.getNumCols(); };
    </-->
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <h4 class="title" mat-line>
            {{ 'Claims_concact_section.Contact_Us' | translate }}
            <mat-icon class="material-icons flecha">keyboard_arrow_right</mat-icon>
          </h4>
          <p class="subTitle" mat-line>{{ 'Contact_claims.info' | translate }}</p>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>phone</mat-icon>
          <h4 class="title" mat-line>
            {{ 'Contact_claims.SubTitle_phone' | translate }}
            <mat-icon class="material-icons flecha">keyboard_arrow_right</mat-icon>
          </h4>
          <p class="subTitle" mat-line>{{ 'Contact_claims.SubTitle_phone_info' | translate }}</p>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <div id="content-phones" class="phones">
        <mat-grid-list [cols]="columnsNumPhones" rowHeight="20px">
          <mat-grid-tile *ngFor="let phone of listPhones">{{ phone }}</mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>email</mat-icon>
          <h4 class="title" mat-line>
              {{ 'Contact_claims.SubTitle_email' | translate }}
            <mat-icon class="material-icons flecha">keyboard_arrow_right</mat-icon>
          </h4>
          <!-- <p class="subTitle" mat-line>LLámanos, queremos ayudarte</p> -->
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <div id="content-emails" class="emails">
        <mat-grid-list [cols]="columnsNumEmail" rowHeight="20px">
          <mat-grid-tile *ngFor="let email of listEmails">{{ email }}</mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="subFooter" [colspan]="(columnsNum > 1) ? columnsNum : 1">
      <p>{{ 'Contact_claims.Subinfo' | translate }}</p>
      <div class="logoSeguros"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>