@import '~sass/variables';

body, html{
    width: 100%;
    height: 100%;
}
.div-grid{
    .mat-grid-tile{
        background-color: $second-color;
        &:nth-child(2n){
            background-color: $primary-color;
        }
        &:nth-child(3n){
            background-color: $third-color;
        }
    }
}
