<h1>Titulos</h1>
<div fxLayout='column'>
  <h1>Titulo 1</h1>
  <h2>Titulo 2</h2>
  <h3>Titulo 3</h3>
  <h4>Titulo 4</h4>
  <h5>Titulo 5</h5>
  <h6>Titulo 6</h6>
</div>
<hr>
<h1>Grilla MatGrid</h1>
<div>
  <mat-grid-list class="div-grid" [cols]="columnsNum" rowHeight="100px">
    <!-->columnsNum: numero de columnas en las cuales distribuyen los mat-grid-tile debe estar en el.ts y debe estar igualada
    en el constructor con el valor window.onresize = (e) => { this.columnsNum = Util.getNumCols(); };
    </-->
    <mat-grid-tile>PPPP {{columnsNum}}</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile [colspan]="columnsNum ==1?1:2">3</mat-grid-tile>
  </mat-grid-list>
</div>
<hr>
<h1>Botones</h1>
<div>
  <button class="btn-success">Aceptar</button>
  <button class="btn-cancel">Cancelar</button>
  <button class="btn-send">Enviar</button>
  <button class="btn-closed">Cerrar</button>
  <button class="btn-info arrow">Información</button>
  <!-- <button class="btn">Default</button> -->
</div>
<h4>Deshabilitados</h4>
<div>
  <button class="btn-success" disabled>Aceptar</button>
  <button class="btn-cancel" disabled>Cancelar</button>
  <button class="btn-send" disabled>Enviar</button>
  <button class="btn-closed" disabled>Cerrar</button>
  <button class="btn-info arrow" disabled>Información</button>
  <!-- <button class="btn" disabled>Default</button> -->
</div>
<hr>
<h1>Formulario ubicado en MatGrid</h1>
<div>
  <mat-grid-list [cols]="(columnsNum-1) == 0 ? 1 : columnsNum-1">
    <mat-grid-tile>
      <img src="http://www.lumen-colombia.com/blog/wp-content/uploads/2017/01/bavaria-1617529_1920-683x1024.jpg" alt="imagen">
    </mat-grid-tile>
    <mat-grid-tile>
      <form class="form-customize-1">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option style="color:green" value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn-send">Enviar</button>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<hr>
<h1>Formulario</h1>
<div>
    <form class="form-customize-1">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
        <my-date-picker [options]="myDatePickerOptions" name="mydate" placeholder="placeholder"></my-date-picker>
        <!-- https://github.com/kekeh/mydatepicker/issues Datepicker Doc
          myDatePickerOptions: es un parametro establecido en el ts donde trae la configuracion del date
          picker por region o por idioma.
        -->
        <button class="btn-send">Enviar</button>
      </form>
</div>
<hr>
<h1>Alertas</h1>
<div>
  <!-- Se utilza llamando el commonServcice en el ts, y luego llamando la funcion dailog 
    con sus respectivos parametros:typeMessage,title,message y una funcion opcional -->
  <button class="btn-info arrow" (click)="openDialog(1)">Error</button><!-->1:Para mensajes de error</-->
  <button class="btn-info arrow" (click)="openDialog(2)">Info</button><!-->2:Para mensajes de Informacion</-->
  <button class="btn-info arrow" (click)="openDialog(3)">Succes</button><!-->3:Para mensajes de Exitoso</-->
</div>
<hr>