@import "~sass/variables";
.bodyDialog{
    min-width:220px;
    text-align: center;
    &-error{
        @extend .bodyDialog;
        border-top: 3px solid $error-color;
    }
    &-info{
        @extend .bodyDialog;
        border-top: 3px solid $info-color;
    }
    &-success{
        @extend .bodyDialog;
        border-top: 3px solid $success-color;
    }
    p{
        text-align: left;
    }
}