<div [ngSwitch]="typeMessage">
  <div *ngSwitchCase="1" class="bodyDialog-error">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <button *ngIf="!funtionSuccess" id="error-dialog-btn-close" type="button" class="btn-closed" md-button (click)="dialogRef.close()">Cerrar</button>
    <button *ngIf="funtionSuccess" id="error-dialog-btn-close" class="btn-closed" md-button (click)="funtionSuccess()">Cerrar</button>
  </div>
  <div *ngSwitchCase="2" class="bodyDialog-info">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <button *ngIf="!funtionSuccess" id="error-dialog-btn-close" type="button" class="btn-closed" md-button (click)="dialogRef.close()">Cerrar</button>
    <button *ngIf="funtionSuccess" id="error-dialog-btn-close" class="btn-closed" md-button (click)="funtionSuccess()">Cerrar</button>
  </div>
  <div *ngSwitchCase="3" class="bodyDialog-success">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <button *ngIf="!funtionSuccess" id="error-dialog-btn-close" type="button" class="btn-closed" md-button (click)="dialogRef.close()">Cerrar</button>
    <button *ngIf="funtionSuccess" id="error-dialog-btn-close" class="btn-closed" md-button (click)="funtionSuccess()">Cerrar</button>
  </div>
</div>