@import '~sass/variables';

mat-grid-tile {
    background: lightblue;
  }

.home-container {  
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$height-header});
  * {
    box-sizing: border-box;
    margin: 0;
  }
  .options {
    height: 50%;
    padding: 50px 5%;
    position: relative;
    &:hover {
      opacity: 0.5;
    }
    h1 {
      position: absolute;
      font-size: 2.5em;
      letter-spacing: 2px;
      @media screen {
        @media  (min-width: $breakPointTablet){
          font-size: 4em;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    h2 {
      font-size: 0.4em;
      letter-spacing: normal;
    }
  }
  .option-1 {
    background-color: #42A5F5;
  }
  .option-2 {
    background-color: #9575CD;
    h1 {
      right: 5%;
    }
  }
  h1,h2 {
    color: white;
  }
}

@media screen {
  @media  (min-width: $breakPointLaptop){
    .home-alter {
      flex-direction: row;
      & > div {
        flex-grow: 1;
        min-height: 100%;
      }
      .option-2 {
        h1 {
          right: auto;
        }
      }
    }
  }
}