<div [ngClass]="{'home-container':true, 'home-alter': alterContent}">
  <div class="options option-1" [routerLink]="routerList.option1" >
    <h1>
      <h2>UTILIZA TU</h2>
      SEGURO
    </h1>
  </div>
  <div class="options option-2" [routerLink]="routerList.option2">
      <h1>
        <h2>CONSULTA TUS</h2>
        TRÁMITES
      </h1>
  </div>
</div>